*{
    margin: 0;
}

h1 {
    color: blueviolet;
    background-color: rgb(168, 218, 247);
    color: rgb(10, 66, 187);
}


h2 {
    color: black;
    background-color: rgb(125, 193, 252);
}



#footer_p {
    color: black;
    background-color: rgb(96, 96, 110);
}
li {
    color: black;
    background-color: antiquewhite;
}
li:nth-child(2n) {
    background-color: rgb(202, 112, 183);
}

img {
    max-width: 50vw;
    height: 10%;
}